@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1025px;
    margin: 0 auto;
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: 100%;
}

.cart {
    width: 25px;
}

.carusel {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 32px;
}

.carusel__wraper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carusel__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.btn {
    margin: 0 auto;
    padding: 13px 25px;
    width: 150px;
    background: #0E49B5;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.inactive {
    background: #DDDDDD;
    cursor: auto;
}

.input__text {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #DDDADA;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 40px;
}

.col_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 480px;    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    padding-top: 25px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;

}

.product_img {
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}

.like {
    position: absolute;
    width: 20px;
    height: auto;
    top: 18px;
    right: 18px;
}

.product_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.remainder {
    display: flex;
    margin-bottom: 6px;
    position: relative;
}

.check {
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.left {
    margin-left: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
}

.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
    margin-bottom: 10px;
}

.reviews {
    width: 100%;
    background: #DAE2EA;
    display: flex;
    padding: 19px 20px 29px 13px;
}

.reviews__like {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    color: red;
}

.reviews_holder {
    margin-right: 55px;
}

.reviews__grade {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3B3E66; 
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.reviews__grade span {
    font-weight: 700;
}

.order {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #3B3E66;
} 

.grid_container {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 50px;
}


.filter {
    overflow: hidden;
    border: 2px solid #DDDADA;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.filter_card {
    padding: 0 25px;
    background: #EDF3FF;
}

.filter_card_active {
    background: #fff;
}

.filter_title {

    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border-bottom: 0.5px solid #DDDDDD;
    border-top: 0.5px solid #DDDDDD;
}

.filter_text {
    margin: 15px 0;
}

.expander {
    display: none;
    grid-template-columns: 1fr 200px;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    color: #000000;
}

.active {
    display: grid;
    margin: 23px 0;
}

.filter_icon {
    transition: all 0.4s;
    margin: 10px 0;
    transform: rotate(270deg);
}

.filter_icon_active {
    transform: rotate(360deg);
}

.input {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    text-align: center;
}

.expander_checkbox {
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
}

.checkbox {
    position: relative;
    line-height: 1.8rem;
}

.input_checkbox {
    appearance: none;
    position: absolute;
}

.checkbox_label {
    margin-left: 25px;
}

.checkbox_label::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #C4C4C4;
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 1;
}

.checkbox_label::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 2px;
    z-index: 2;
    background: url('../img/icons/Check_mark_9x9.svg.png') no-repeat;
    background-size: 15px 15px;
    opacity: 0;
}

.input_checkbox:checked+.checkbox_label::before {
    background-color: #fff;
    border: 1px solid #C4C4C4;
}

.input_checkbox:checked+.checkbox_label::after {
    opacity: 1;
}

.backgroundModal {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
}

.open{
    opacity: 1;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 290px 2fr 290px;
    width: 1024px;
    height: 490px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.modal__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__img img {
    width: 250px;

}

.modal__info {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    padding: 40px 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal__name {
    margin-bottom: 20px;
}

.reviews__modal {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.modal__list {
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #767272;
}

.modal__item {
    margin-bottom: 15px;
}

.modal__item span {
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

.modal__to-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #3B3E66;
    margin-bottom: 23px;
}

.module__left {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #3B3E66;
    margin-bottom: 30px;
}

#left {
    font-weight: 700;
}